
/* Start Landing */

.landing {
  min-height: 80vh;
  background-image: url("../imgs/hero-bg.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}

.landing .container .landing_content {
  width: 50%;
  overflow: hidden;
}

.landing .container .landing_content > span {
  display: inline-block;
  color: var(--color-light-gray);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 300;
  -webkit-transform: translateX(-100%) rotate(90deg);
  transform: translateX(-100%) rotate(90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.landing .container .landing_content h1 {
  font-size: 75px;
  margin-top: 20px;
  color: var(--color-red);
  -webkit-transform: translateX(-100%) rotate(90deg);
  transform: translateX(-100%) rotate(90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.landing .container .landing_content h1 span {
  position: relative;
  display: inline-block;
  z-index: 3;
}

.landing .container .landing_content h1 span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: var(--color-yellow);
  z-index: -2;
  bottom: -5px;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}

.landing .container .landing_content h1 span:hover::before {
  height: 100%;
}

.landing .container .landing_content p {
  font-family: "Anonymous Pro", monospace;
  color: var(--color-light-black);
  line-height: 25px;
  -webkit-transform: translateX(-100%) rotate(90deg);
  transform: translateX(-100%) rotate(90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.landing .container .landing_img {
  width: 50%;
}

.landing .container .landing_img img {
  max-width: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

@media (max-width: 991px) {
  .landing .container .landing_content {
    width: 100%;
    text-align: center;
  }
  .landing .container .landing_content h1 {
    font-size: 40px;
  }

  .landing .container .landing_content p {
    font-size: 13px;
  }

  .landing .container .landing_img {
    display: none;
  }
}

/* End Landing */

/* Start cards_info */

.cards_info {
  background-color: var(--bgcolor-dark-black);
}

.cards_info .container {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.cards_info .card {
  padding: 30px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--bgcolor-light-black);
  -webkit-perspective: 71px;
  perspective: 71px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: rotate3d(1, 1, 0, 0deg) scale(0);
  transform: rotate3d(1, 1, 0, 0deg) scale(0);
  -webkit-box-shadow: -3px 4px 9px 0px #4caf50;
  box-shadow: -3px 4px 9px 0px #4caf50;
}

.cards_info .card:hover {
  -webkit-transform: rotate3d(1, 1, 0, 0deg) !important;
  transform: rotate3d(1, 1, 0, 0deg) !important;
}

.cards_info .card img {
  width: 70px;
  margin-bottom: 20px;
}

.cards_info .card p {
  color: white;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.cards_info .card p:hover {
  color: var(--color-light-blue);
}

@media (max-width: 1399px) {
  .cards_info .container {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
}

@media (max-width: 575px) {
  .cards_info .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cards_info .card p {
    font-size: 17px;
  }
}

/* End cards_info */

/* Start about */
.about {
  background-color: var(--bgcolor-dark-black);
  min-height: 500px;
  color: white;
  padding: 100px 0;
  overflow: hidden;
}

.about .container .about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}

.about .container .section_title {
  -webkit-transform: translateX(-400%);
  transform: translateX(-400%);
}

.about .container .section_title:hover {
  background-color: #2196f3;
}

.about .container .about_container .about_info {
  width: 50%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.about .container .about_container .about_info h2 {
  font-size: 55px;
  margin-bottom: 30px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.about .container .about_container .about_info p {
  font-family: "Anonymous Pro", monospace;
  line-height: 25px;
  margin-bottom: 60px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.about .container .about_container .about_info a {
  color: white;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.about .container .about_container .about_info a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .container .about_container .about_info a:hover i {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

.about .container .about_container .about_img {
  position: relative;
  z-index: 1;
  width: 50%;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-animation: about_img_rotate 4s infinite linear;
  animation: about_img_rotate 4s infinite linear;
}

@-webkit-keyframes about_img_rotate {
  0%,
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(-25deg);
    transform: rotateZ(-25deg);
  }
}

@keyframes about_img_rotate {
  0%,
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  25% {
    -webkit-transform: rotateZ(25deg);
    transform: rotateZ(25deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(-25deg);
    transform: rotateZ(-25deg);
  }
}

.about .container .about_container .about_img img {
  max-width: 100%;
}

@media (max-width: 1199px) {
  .about {
    padding-top: 0;
  }

  .about .container .about_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .about .container .about_container .about_info {
    width: 100%;
  }

  .about .container .about_container .about_info h2 {
    font-size: 40px;
    line-height: 35px;
  }

  .about .container .about_container .about_img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .about .container .about_container .about_info h2 {
    font-size: 27px;
  }
}
/* End about */

/* Start show case */
.show_case {
  padding: 100px 0;
  background-color: var(--bgcolor-light-black);
}

.show_case .container .section_title:hover {
  background-color: var(--color-red);
}

.show_case .container .showcase_container .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 60px;
}

.show_case .container .showcase_container .head h2,
.show_case .container .showcase_container .head a {
  color: white;
  text-transform: capitalize;
}

.show_case .container .showcase_container .head h2 {
  font-size: 35px;
}

.show_case .container .showcase_container .head a span {
  display: inline-flex;
  overflow: hidden;
}

.show_case .container .showcase_container .head a span i {
  transition: transform 0.3s;
}

.show_case .container .showcase_container .head a span i:nth-child(1) {
  transform: translateX(-30px);
}

.show_case .container .showcase_container .head a:hover span i:nth-child(1) {
  transform: translateX(10px);
}

.show_case .container .showcase_container .head a:hover span i:nth-child(2) {
  transform: translateX(30px);
}

.show_case .container .showcase_container .body {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.show_case .container .showcase_container .body > div {
  position: relative;
  display: flex;
  align-items: flex-end;
  border: 2px solid white;
  border-radius: 10px;
  transition: transform 1s;
  overflow: hidden;
  width: calc(100% / 2);
  height: 400px;

}

.show_case .container .showcase_container .body .one {
  transform: translateX(-110%);
}

.show_case .container .showcase_container .body .two {
  transform: translateX(110%);
}


.show_case .container .showcase_container .body > div img {
  width: 100%;
  height: 100%;
}

.show_case .container .showcase_container .body > div .info {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: white;
}

.show_case .container .showcase_container .body > div .info a {
  color: white;
}

.show_case .container .showcase_container .body > div .info a h3 {
  font-size: 25px;
  margin-bottom: 10px;
  text-transform: capitalize;
  background-color: var(--bgcolor-dark-black);
  padding: 5px;
}

.show_case .container .showcase_container .body > div .info span {
  font-family: "Anonymous Pro", monospace;
  background-color: var(--bgcolor-dark-black);
  padding: 5px;
}

@media (max-width: 991px) {
  .show_case .container .showcase_container .body {
    flex-direction: column;
  }

  .show_case .container .showcase_container .body > div {
    width: 100%;
  }

  .show_case .container .showcase_container .body > div .info a h3 {
    font-size: 20px;
  }
}

/* End show case */

/* Start out services */
.our_services {
  padding: 100px 0;
  background-color: var(--bgcolor-dark-black);
}

.our_services .container {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-image: url(../imgs/center-bg.webp);
  background-size: cover;
  background-position: center right;
  border-radius: 0px 100px 0px 0px;
  padding: 50px;
}

.our_services .container .left {
  overflow: hidden;
}

.our_services .container .left .section_title {
  transform: translateX(-100%);
}

.our_services .container .left .section_title:hover {
  background-color: #ff5722;
}

.our_services .container .left h2 {
  font-size: 40px;
  line-height: 50px;
  color: white;
  margin-bottom: 70px;
  transform: translateX(-100%);
  transition: transform 0.7s;
}

.our_services .container .left a {
  padding: 15px 25px;
  border-radius: 40px;
  background-color: var(--color-red);
  color: white;
  text-transform: capitalize;
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  transform: translateX(-300%);
  transition: transform 0.7s;
}

.our_services .container .right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.our_services .container .right .col:nth-child(1) {
  transform: translateY(80px);
}

.our_services .container .right .col:nth-child(2) {
  transform: translateY(-80px);
}

.our_services .container .right .col .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  padding: 10px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.our_services .container .right .col .card:hover {
  box-shadow: -4px 4px 0 var(--color-yellow), -8px 8px 0 var(--color-red),
    -12px 12px 0 var(--color-light-blue);
}

.our_services .container .right .col .card:not(:last-of-type) {
  margin-bottom: 40px;
}

.our_services .container .right .col .card img {
  width: 70px;
  margin-bottom: 20px;
}

.our_services .container .right .col .card h3 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.our_services .container .right .col .card p {
  font-family: "Anonymous Pro", monospace;
  font-size: 14px;
}

@media (max-width: 1199px) {
  .our_services .container {
    flex-direction: column;
    text-align: center;
  }

  .our_services .container .right .col:nth-child(1) {
    transform: translateY(0px);
  }

  .our_services .container .right .col:nth-child(2) {
    transform: translateY(-0px);
  }
}

@media (max-width: 767px) {
  .our_services .container .left h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .our_services .container .right {
    flex-direction: column;
  }
}
/* End out services */

/* Start insights */
.insights {
  padding: 100px 0 200px;
  background-color: var(--bgcolor-light-black);
}

.insights .container .section_title:hover {
  background-color: #2196f3;
}

.insights .container .insights_container .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 60px;
}

.insights .container .insights_container .head h2,
.insights .container .insights_container .head a {
  color: white;
  text-transform: capitalize;
}

.insights .container .insights_container .head h2 {
  font-size: 35px;
}

.insights .container .insights_container .head a span {
  display: inline-flex;
  overflow: hidden;
}

.insights .container .insights_container .head a span i {
  transition: transform 0.3s;
}

.insights .container .insights_container .head a span i:nth-child(1) {
  transform: translateX(-30px);
}

.insights .container .insights_container .head a:hover span i:nth-child(1) {
  transform: translateX(10px);
}

.insights .container .insights_container .head a:hover span i:nth-child(2) {
  transform: translateX(30px);
}

.insights .container .insights_container .body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  overflow: hidden;
}

.insights .container .insights_container .body > div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 20px;
  transform: translateY(-330%);
  transition: background-color 0.5s, transform 1s;
  cursor: pointer;
}

.insights .container .insights_container .body > div h3 a {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
  font-size: 30px;
}

.insights .container .insights_container .body > div:hover {
  background-color: #2196f3;
}

.insights .container .insights_container .body > div span {
  color: rgba(255, 255, 255, 0.62);
}

.insights .container .insights_container .body > div span.date {
  position: absolute;
  bottom: 20px;
}

@media (max-width: 991px) {
  .insights .container .insights_container .body > div h3 a {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .insights .container .insights_container .body {
    grid-template-columns: 1fr;
  }
}
/* End insights */